/*this file for style*/
body{
    max-width: 960px;
    background-color: #937697;
}
#tittle{
    left: 8%;
    top: 10px;
    position: relative;
    color: rgba(21, 172, 20, 0.78); /* Цвет символа */
    font-size: 200%; /* Размер шрифта */
    width: 300px;
}
#signPanel{
    position: relative;
    left: 50%;
    height: 460px;
    width: 360px;
}
#labelLogIn{
    position: relative;
    top: 25%;
}
#buttonSignIn{
    position: relative;
    top: 10px;
    width: 100%;
}
#formSign{
    position: relative;
    top: 30%;

}
#forgotPas{
    position: relative;
    top: 10px;
    width: 100%;
}
#regButton{
    position: absolute;
    top: 25px;
    left: 75%;
    width: 200px;
}
#dataPanel{
    position: absolute;
    top: 1%;
    left: 75%;
    width: 400px;
}

.footerLabels{
    position: relative;
    top: 0px;
    float: left; /*Задаем обтекание*/
    line-height: 50px;/*Высота строки +  верт. центрирования текста*/
    font-size: 30px;
    background: rgba(183, 166, 255, 0.69);
    color: white;
    margin-top: 0px;
    width: 120px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
}
#navigatePanel{
    position: relative;
    left: 0px;
    top: 20px;
    width: 40%;
    height: 700px;
   /* background: rgba(7, 10, 23, 0.69);*/

}
#lSP{
    position: relative;
    left: 20%;
    top: 5px;

    font-size: 30px;
}
#contentNavPanel{
    position: relative;
    left: -100px;
}
#exCollapsingNavbar{
    position: relative;
    left: -120px;
}