/*this file for style*/
*{
	margin: 0;
    padding: 0;
}

#footer{
    position:absolute;
    left: 0%;
    top: 95%;
    background: #333333;
    height: 5%;
    width: 98%;
}

#rightLine{
    position:absolute;
    left: 97%;
    top: 0%;
    width: 3%;
    height: 100%;
    background: #333333;
}

body{
    max-width: 960px;

}
A {
    color: red; /* Цвет ссылок */
   }

#tittle{
    left: 8%;
    top: 10px;
    position: relative;
    color: rgba(21, 172, 20, 0.78); /* Цвет символа */
    font-size: 200%; /* Размер шрифта */
    width: 300px;
}

#signPanel{
    position: relative;
    left: 50%;
    height: 460px;
    width: 360px;
}

#labelLogIn{
    position: relative;
    top: 25%;
}

#buttonSignIn{
    position: relative;
    top: 10px;
    width: 100%;
}

#formSign{
    position: relative;
    top: 30%;

}

#forgotPas{
    position: relative;
    top: 10px;
    width: 100%;
}

#regButton{
    position: absolute;
    top: 25px;
    left: 75%;
    width: 200px;
}

#dataPanel{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #333333;
    height: 110px;
}

.footerLabels{
    position: relative;
    top: 0px;
    float: left; /*Задаем обтекание*/
    line-height: 50px;/*Высота строки +  верт. центрирования текста*/
    font-size: 30px;
    background: rgba(183, 166, 255, 0.69);
    color: white;
    margin-top: 0px;
    width: 120px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
}

#navigatePanel{
    position: relative;
    left: 20px;
    top: 20px;
    width: 40%;
    height: 700px;
   /* background: rgba(7, 10, 23, 0.69);*/

}

#lSP{
    position: relative;
    left: 5px;
    top: 5px;
    font-size: 30px;
    color: white;
}

#contentNavPanel{
    position: relative;
    left: 10px;
}

#exCollapsingNavbar{
    position: relative;
    left: 50px;
}

#titleNav{
top: 0px;
position: absolute;
width: 200px;
height: 100%;
background: #333333;
}

#pageHome{
position: relative;
left: 30%;
top: 50px;

}

#pageAszi{
position: relative;
left: 30%;
top: 50px;
}

.menu{
    display: none;
    background-color: rgb(225, 225, 225);
    position: relative;
    width: 100%;
    height: 100%;
}

#contentHomePage{
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 200px;
    top: 110px;
    width: 100%;
    height: 80%
}
.pageLink{
    display: inline-block;
    color: white;
}
#leftSide{
    position: relative;
    max-width: 100%;
    left: 11px;
}
.labelFio{
    position: relative;
    right: 3%;
    float: right;
    color: white;
    margin: 3px;
    padding: 5px;
}
/*Подзаголовок вкладки*/
.headContent{
    color: white;
    position: absolute;
    left: 0px;
    top: -50px;
}
#main{
    position: relative;
    top: 40px;
}
#pageManagementLink{
    display: none;
}

#addAszi{
    position: relative;
    left: 20%;
    top: 10%;
    width: 40%;
    height: 40%;
}
#requirCheck{
width:200px; /* ширина нашего блока */
height:300px; /* высота нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
}
/*Описание требования на которое наведен курсор*/
#descReq{
    position:relative;
    left: 50%;
    top: 0px;
    background: white;
    width: 437px;
    height: 270px;
    background-color: rgb(225, 225, 225);
    overflow: auto;
}
#pageCatalogue1{
    position:relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
/*Поле СрЗИ в каталоге*/
.sziInCatalogue{
    position: relative;
    left: 10px;
    float: left;
    top: 3%;
    background: white;
    padding: 5px;
    width: 97%;
    height: 160px;
    margin: 5px;
    overflow: auto;

}
/*Описание СрЗИ*/
.descSzi{
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    width: 32%;
    height: 143px;
    margin: 5px;
    padding: 5px;
}
/*Информация о СрЗИ*/
.sziInfo{
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    width: 32%;
    height: 143px;
    margin: 5px;
    padding: 5px;
}
/*Список требований закрываемых СрЗИ*/
.sziReqCatalogue{
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    width: 32%;
    height: 143px;
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

#numPage{
    position: relative;
    left: 37%;
    top: 15%;
    width: 500px;
}
.dataBuild{
    display: none;
    position: relative;
    margin: 10px;
    padding: 10px;
    left: 33%;
    height: 70%;
    width: 700px;
}
.listOsCheck{
    position: relative;
    left: 5%;
}
#sziOnPr{
    position: relative;
    left: -30%;
    width:700px; /* ширина нашего блока */
    height:400px; /* высота нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
    display: none;
}
.userListR{
    position: relative;
    left: 5%;
    height: 55px;
    width: 90%;
    overflow: auto;
    background: white;
    margin: 5px;
}
.userList{
    position: relative;
    top: 15px;
    height: 30px;
    width: 25%;
    float: left;
}
#userListR{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}