<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script type="text/javascript" src="{% static "/client.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "/jquery.cookies.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <!--<link href="" rel="stylesheet">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script>
        var session = $.cookie("session");//редирект залогиненого пользователя на домашнюю страницу
        if (session == "true"){
            window.location.replace("http://127.0.0.1:8000/home/");
        }
    </script>
</head>
<body>
    <div>
        <h1></h1>
    </div>
    <div id="myModalBox" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Заголовок модального окна -->
          <div class="modal-header">
            <h4 class="modal-title">Регистрация</h4>
          </div>
          <!-- Основное содержимое модального окна -->
          <form action="" method="POST">{% csrf_token %}
                <div class="modal-body">
                <label for="id_email">Электронная почта:</label></br>
                <input class="form-control" type="email" name="email" id="id_email" required maxlength="255" /></br>
                <label for="id_lastname">Фамилия:</label></br>
                <input class="form-control" type="text" name="lastname" id="id_lastname" maxlength="40" /></br>
                <label for="id_firstname">Имя:</label></br>
                <input class="form-control" type="text" name="firstname" id="id_firstname" maxlength="40" /></br>
                <label for="id_middlename">Отчество:</label></br>
                <input class="form-control" type="text" name="middlename" id="id_middlename" maxlength="40" /></br>
                <label for="id_birdDate">Дата рождения:</label></br>
                <input class="form-control" type="text" name="birdDate" id="id_birdDate" />
                <label for="id_password">Пароль:</label>
                <input class="form-control" id="pas1" type="text" onKeyUp=checkPass() name="password" required maxlength="30" id="id_password" />
                <label for="id_password">Повторите пароль:</label>
                <input class="form-control" id="pas2" type="text" onKeyUp=checkPass() name="password1" required maxlength="30" id="id_password" />
                </div>
          <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="submit" id="reg" class="btn btn-success" disabled>Зарегистрироваться</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <div>
        <p>Thanks for visiting my site</p>


    </div>
    {% endblock %}
</body>
</html>