<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script type="text/javascript" src="{% static "/client.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "/jquery.cookies.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <!--<link href="" rel="stylesheet">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="{% static "ajax/ajaxMenu.js" %}"></script>
    <script src="{% static "ajax/ajaxIsBuilder.js" %}"></script>
<script>
    var session = $.cookie("session")//редирект в случае если авторизация не пройдена
    if ((session == null) || (session=="null") || (session=="false")){
        window.location.replace("http://127.0.0.1:8000/landing/");
        //alert(session)
    }
</script>
</head>
<body>

    <div>
        <h1></h1>
    </div>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <div>
        <p>Thanks for visiting my site</p>


    </div>
    {% endblock %}
</body>
</html>