{% extends 'landing/baseForHome.html' %}
{% block title %}
    ASZI HOMEPAGE
{% endblock %}
{% load static %}
{% block content %}
<div id="dataPanel">
    <form class="labelFio" method="POST" action="/logout/"> {% csrf_token %}
        <button id="logOut" onclick="test()" class="btn ">Log Out</button>
    </form>
    <span id="nm" class="labelFio">name</span>
    <span id="ln" class="labelFio">lastname</span>
</div>
<div id="titleNav">
    <h1 id="tittle">aszi project</h1>
    <div id="main" class="container cHidden">
        <br class="listLink"><!--тут создается новая ссылка в навигационном меню-->
        <a style="text-decoration:none" onclick="togl(id), main()"  href="#" id="pageMainLink" class="pageLink">Main</a></br>
        <a style="text-decoration:none" onclick="togl(id), catalogue()" href="#" id="pageCatalogueLink" class="pageLink">Catalogue</a></br>
        <a style="text-decoration:none" onclick="togl(id)" href="#" id="pageBuilderLink" class="pageLink">IS Builder</a></br>
        <a style="text-decoration:none" onclick="togl(id), management()" href="#" id="pageManagementLink" class="pageLink">IS Management</a></br>
        <a style="text-decoration:none; position: relative;  top: 400px;" onclick="togl(id)" href="#" id="pageFeedbackLink" class="pageLink">Credits(Feedback)</a></br>
        </ul>
    </div>
</div>
<div id="contentHomePage" class="col-md-10 col-xs-9"><!--в этот див добавляется блок с содержимым странцы-->
    <div id="pageMain" class="menu"><!--например как этот-->
        <h1 class="headContent">Main</h1>
        content
    </div>
    <div id="pageCatalogue" class="menu">
        <h1 class="headContent">Catalogue</h1>
        <div id="pageCatalogue1"></div>
    </div>
    <div id="pageBuilder" class="menu">
        <h1 class="headContent">Builder</h1>
        content
    </div>
    <div id="pageManagement" class="menu">
        <h1 class="headContent">Management</h1>
        <form id="addAszi">
            <input type="text" name="def_name" placeholder="defence name" maxlength="100" id="id_def_name" required /><br>
            <input type="text" name="def_dev" placeholder="defence developer" maxlength="40" id="id_def_dev" required /><br>
            <input type="text" name="def_cert" placeholder="certification date" id="id_def_cert" required /><br>
            <input type="text" name="def_desc" placeholder="description" maxlength="500" id="id_def_desc" required /><br>
            <select id="id_def_os" name="def_os" required>
                 <option value="1">SrZI</option>
                 <option value="2">Client OS</option>
                 <option value="3">Server OS</option>
            </select><br>
            <div id="requirCheck" class="custom-control custom-checkbox"></div>
            <button class="btn">Add Aszi</button>
        </form>
        <h1 style="position: absolute; top: 10px; left: 49.7%;"></h1>
        <div id="descReq"></div>
</select>
    </div>
    <div id="pageFeedback" class="menu">
        <h1 class="headContent">Feedback</h1>
        content
    </div>
</div>


</div>
<script>
    $(document).ready(function() {
        var name = $.cookie("userName")
        var lastName = $.cookie("lastName")
        var admin = $.cookie('is_admin')
        $('#nm').html(name);
        $('#ln').html(lastName);
        $("#pageMain").show();
        if (admin == "True"){
            $('#pageManagementLink').show();
        }
    });
</script>
    {% endblock %}
